.background-img {
    background-image: url("../img/pikes-peak3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    z-index: -1;
    border-radius: 10px;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.quote-text {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    line-height: 1.5;
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 30ch;
}

.author-text {
    font-size: 1rem;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
