html, body {
    height: 100vh;
    margin: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: purple;
}

article {
    height: 75vh;
    width: 75vw;
    margin: auto;
    margin-top: 75px;
    border: 3px solid white;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    text-align: center;
    color: white;
}

q {
    display: block;
}
.quote-text {
    max-width: 40ch;
}


div {
    background-image: url("../img/mitchell-luo-FWoq_ldWlNQ-unsplash.jpg")
};